<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <a routerLink="/dashboard/home" class="logo">Job<em> Website</em></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                            <h3 class="font-weight-light my-4" style="color: #4e73df;">Login</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="formGroup" (ngSubmit)="loginAccount()">
                        <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input
                                class="form-control py-4" formControlName="email" type="email"
                                placeholder="Enter email address" /></div>
                        <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input
                            formControlName="password" class="form-control py-4" id="inputPassword" type="password"
                                placeholder="Enter password" /></div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox"><input class="custom-control-input"
                                id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label"
                                    for="rememberPasswordCheck">Remember password</label></div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a
                                class="small" routerLink="/forget">Forgot Password?</a>
                            <button class="btn btn-primary" [disabled]="!formGroup.valid">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a routerLink="/createUser">Need an account? Sign up!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span>{{loginResponse}}</span>
            </div>
        </div>
    </div>
</div>